@font-face {
  font-family: "Din pro";
  font-weight: 400;
  src: url(/src/fonts/dinpro.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 500;
  src: url(/src/fonts/dinpro_medium.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 700;
  src: url(/src/fonts/dinpro_bold.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 300;
  src: url(/src/fonts/dinpro_light.otf);
}
.order {
  padding-left: 15px;
  padding-right: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.order__form__item {
  height: 40px;
}
.order .order__form_border-radius {
  border-radius: 5px;
}
.order .order__form_width {
  width: 100%;
}
.order__input {
  padding-left: 8px;
  border: none;
}
.order__input:focus {
  outline-color: #ff9846;
}
.order__input:invalid {
  color: red;
  outline-color: red;
}
.order__input::placeholder {
  color: #a4acad;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.order__form {
  display: grid;
  gap: 10px;
}
.order__form .form__shipping-time,
.order__form .form__user-data,
.order__form .form__address_house_item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}
.order__form .form__address-info,
.order__form .form_email-comment {
  display: grid;
  gap: 10px;
}
.order__total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ff9846;
  border-bottom: 1px solid #a4acad;
  margin-bottom: 30px;
}
.order__total-price__item {
  display: flex;
  justify-content: center;
  flex-grow: 2;
  width: 50%;
  padding: 10px 0;
}
.order .form__title {
  text-align: center;
  margin-bottom: 10px;
}
.order .form__toggle .form__toggle__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order .form__toggle .form__toggle__item:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.order .form__toggle .form__toggle__item:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.order .form__toggle .form__toggle__item_active {
  background: #ff9846;
  color: white;
}
.order .form__change {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order .form__change__checkbox-area {
  display: flex;
  flex-grow: 1;
}
.order .form__change__checkbox-area input {
  appearance: none;
  position: relative;
}
.order .form__change__checkbox-area input::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ff9846;
  background: white;
}
.order .form__change__checkbox-area input:checked::after {
  background: url("/public/media/UI/check-mark.svg") no-repeat center #ff9846;
}
.order .form__change__checkbox-area label {
  margin-left: 33px;
}
.order .form__change .form__change_input {
  margin-left: 10px;
  width: 36%;
}
.order .form__additives-list {
  display: grid;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.order .form__additives-list__item {
  display: flex;
  justify-content: space-between;
}
.order .form__promo-code {
  margin-bottom: 20px;
}
.order .form__button {
  width: 100%;
  padding: 13px 0;
}
.order .order__svg_active {
  fill: white;
}
.order .form__type-of-shipping,
.order .form__type-of-payment,
.order .form__shipping-time {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background: white;
}

/*# sourceMappingURL=order.css.map */
