@import '../../style/variables';

.main {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 162px);
  gap: 10px;
  padding: calc(62.5px + 20.5px) 15px;
  &__item {
    position: relative;
    &__name {
      position: absolute;
      font-size: 18px;
      font-weight: 500;
      line-height: 22.34px;
      color: white;
    }
    &__img {
      width: 100%;
      height: 100%;
    }
    &_stock {
      display: none;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 14px;
      right: 19px;
      width: 50px;
      font-size: 11px;
      font-weight: 400;
      line-height: 13.64px;
      color: white;
      background-color: $red;
      border-radius: 10px;
      text-align: center;
    }
  }
  &__item_large {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 1919px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    width: $pc__main_width;
    &__item {
      width: 100%;
    }
    &__content,
    .goods__items__content {
      width: 100%;
      height: 397px;
      align-self: center;
      margin-bottom: 50px;
      .goods__swiper,
      .goods__items__swiper {
        width: 950px;
        height: inherit;
        margin-bottom: 11px;
      }
      .goods__items__swiper {
        width: 950px;
        .swiper-wrapper {
          width: 100%;
        }
      }
    }

    .swiper__indicators {
      display: flex;
      align-self: center;
      .swiper__indicator {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $gray;
        margin-right: 10px;
      }
      .swiper__indicator__selected {
        background-color: $orange;
      }
      .swiper__indicator:last-of-type {
        margin-right: 0;
      }
    }
    .swiper-wrapper {
      transform: none;
      .swiper__item {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        &__content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: end;

          height: 100%;

          padding-top: 20px;
          padding-bottom: 20px;
          &__title {
            margin-right: 10px;
            text-align: end;
            &__name {
              margin-bottom: 5px;
              font-weight: 500;
              font-style: italic;
            }
            &__pieces {
              color: $orange;
            }
          }
          &__price {
            display: flex;
            flex-direction: column;
            align-items: end;
            margin-right: 20px;
            font-weight: 500;
            .swiper__item__content__initial-price {
              position: relative;
              font-size: 24px;
              text-align: end;
              margin-bottom: 20px;
              width: fit-content;
              padding: 0 5px;
            }
            .swiper__item__content__initial-price:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;

              background: linear-gradient(
                to top left,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0) calc(50% - 2px),
                $dark_orange 50%,
                rgba(0, 0, 0, 0) calc(50% + 2px),
                rgba(0, 0, 0, 0) 100%
              );
            }
            .swiper__item__content__sale-price {
              font-size: 32px;
            }
          }
          &__button {
            width: 250px;
            font-size: 32px;
            padding: 7px 0;
            margin-right: 50px;
          }
        }
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 60px;
      height: 60px;
      background-color: black;
      border-radius: 50%;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 27px;
      color: white;
      font-weight: 400;
    }
    .main__popular__categories {
      display: grid;
      row-gap: 30px;
      grid-template-columns: repeat(4, 224px);
      justify-content: space-between;
      align-self: center;
      width: 950px;
      margin-top: 30px;
      margin-bottom: 52px;
      .main__item {
        width: 450px;
        height: 200px;

        &__name {
          font-size: 24px;
          line-height: 29.78px;
          bottom: 10px;
          left: 10px;
        }
      }
      .main__item:first-of-type,
      .main__item:nth-of-type(4) {
        grid-column-start: 1;
        grid-column-end: 3;
      }
      .main__item:nth-of-type(2),
      .main__item:nth-of-type(3) {
        width: 224px;
        height: 200px;
      }
      .main__item:last-of-type {
        grid-column-start: 3;
        grid-column-end: 5;
        width: 470px;
      }
    }
    .main__goods__select {
      display: flex;
      align-self: center;
      width: 950px;

      margin-bottom: 30px;
      &__item {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        margin-right: 30px;
        color: $gray;
        cursor: pointer;
        span {
          display: inline-block;
          border-bottom: 2px solid $gray;
        }
      }
      &__item_selected {
        color: black;
        text-decoration: none;
        span {
          display: inline-block;
          border-bottom: none;
        }
      }
    }
  }
}
