@import '../../../style/variables.scss';

.button {
  font-size: 18px;
  font-weight: 500;
  border: none;
  background-color: $dark_orange;
  border-radius: 5px;
  color: white;
  padding: 2px 25px 2px 26px;
  cursor: pointer;
}
