@import '../../style/variables.scss';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 330px;
  &__info {
    display: flex;
    flex-direction: column;
    color: gray;
    margin-bottom: 20px;
    &__name {
      line-height: 30px;
      margin-bottom: 10px;
    }
    &__description {
      line-height: 18px;
    }
    &__button {
      position: relative;
      font-size: 24px;
      line-height: 24px;
      font-weight: 400;
      color: $orange;
      align-self: center;
    }
    &__button::after {
      content: '1';
      position: absolute;
      top: 50%;
      right: -27px;
      font-size: 0;
      width: 17px;
      height: 9px;
      background-image: url('/public/media/about/arrow_down.svg');
    }
  }
}

@media screen and (min-width: 1024px) {
  .about {
    font-style: normal;
    color: $gray;
    width: 950px;
    margin-bottom: 30px;
    .about__info__name {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;

      margin-bottom: 10px;
    }
    .about__info__description {
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
    }
    .about__info__description:not(:last-child) {
      margin-bottom: 10px;
    }
    .about__info__description__list {
      li {
        list-style-type: disc;
        margin-left: 20px;
      }
    }
  }
}
