@import '../../style/variables.scss';

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  &__info {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 228px;
    color: gray;
    overflow: hidden;
    &__name {
      line-height: 30px;
      margin-bottom: 10px;
    }
    &__description {
      line-height: 18px;
    }
    &__button {
      position: relative;
      font-size: 24px;
      line-height: 24px;
      font-weight: 400;
      color: $orange;
      align-self: center;
      cursor: pointer;
      margin-bottom: 20px;
    }
    &__button::after {
      content: '1';
      position: absolute;
      top: calc(50% - 2px);
      right: -27px;
      font-size: 0;
      width: 17px;
      height: 9px;
      background-image: url('/public/media/UI/arrow_down.svg');
      transition: all 0.5s ease;
    }
  }
  &__info_opened {
    height: auto;
  }
  &__info__button_opened::after {
    animation: rotate 0.5s ease forwards;
  }
  &__info_opened::after {
    display: none;
  }
  &__info::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
  }
}

@media screen and (min-width: 768px) {
  .about {
    font-style: normal;
    color: $gray;
    width: 100%;
    .about__info__name {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;

      margin-bottom: 10px;
    }
    .about__info__description {
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
    }
    .about__info__description:not(:last-child) {
      margin-bottom: 10px;
    }
    .about__info__description__list {
      li {
        list-style-type: disc;
        margin-left: 20px;
      }
    }
  }
}
