@import '../../style/variables.scss';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  &__info {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 228px;
    color: gray;
    overflow: hidden;
    transition: height 0.3s ease-out;
    &-name {
      line-height: 30px;
      margin-bottom: 10px;
    }
    &-description {
      line-height: 18px;
    }
    &-button {
      position: relative;
      font-size: 24px;
      line-height: 24px;
      font-weight: 400;
      color: $orange;
      align-self: center;
      cursor: pointer;
      margin-bottom: 20px;
    }
    &-button::after {
      content: '1';
      position: absolute;
      top: calc(50% - 2px);
      right: -27px;
      font-size: 0;
      width: 17px;
      height: 9px;
      background-image: url('/public/media/UI/arrow_down.svg');

      transform: rotateX(0deg);
      transition: transform 0.3s ease-out;
    }
    &-button_opened::after {
      transform: rotateX(180deg);
      transform-origin: center;
    }
    &_opened::after {
      display: none;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(242, 242, 242, 0) 0%, #f2f2f2 100%);
    }
  }
  &__info_opened {
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .about {
    font-style: normal;
    color: $gray;
    width: 100%;
    .about__info-name {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;

      margin-bottom: 10px;
    }
    .about__info-description {
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;
    }
    .about__info-description:not(:last-child) {
      margin-bottom: 10px;
    }
    .about__info-description-list {
      li {
        list-style-type: disc;
        margin-left: 20px;
      }
    }
  }
}
