@import '../../style/variables.scss';

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .filter {
  }
}
