@import '../../style/variables.scss';

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 91.6%;
  height: 50px;
  margin: 0 auto 15px;
  background-color: white;
  border-radius: 10px;
}
