@import '../../style/variables.scss';

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;

  font-size: 12px;
  font-weight: 500;
  text-align: center;

  height: $mobile_header_height;
  border-bottom: 0.5px solid $gray;
  z-index: 3;
  background-color: white;
  &__phone-name {
    line-height: 14.89px;
  }
  &__phone-number {
    line-height: 12px;
    color: $orange;
  }
  &__schedule-info {
    line-height: 14.89px;
    color: $gray;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    position: initial;
    height: 94.5px;
    background-color: $light_gray;
    justify-content: start;

    font-style: normal;
    font-weight: 500;

    margin-bottom: 30px;
    &__main {
      display: flex;
      flex-grow: 2;

      padding-left: 15px;
      padding-right: 40px;

      font-style: normal;
    }
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      border-right: 0.5px solid $gray;

      width: 225px;
      height: 100%;
    }
    &__phone-list {
      margin-bottom: 5px;
    }
    &__phone-name {
      font-size: 18px;
      line-height: 22px;
    }
    &__phone-number {
      font-size: 18px;
      line-height: 100%;
    }
    &__schedule {
      display: flex;
      justify-content: center;
      &-img {
        margin-right: 5px;
      }
      &-info {
        font-size: 14px;
        line-height: 17px;
      }
    }

    &__query {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &__location {
      text-align: start;
      &-name {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;

        color: $gray;

        margin-bottom: 4px;
      }
      &-choose {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        background: transparent;
        border: none;

        appearance: none;
      }
      &-choose:focus {
        outline-color: $orange;
        background-color: white;
      }
    }
    &__links {
      display: flex;
      flex-grow: 2;

      justify-content: end;
      align-items: center;
      margin-right: 70px;
    }
    &__link {
      margin: 0;
      width: fit-content;
      &-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
      }
      &-description:hover {
        color: $orange;
      }
    }
    &__link:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}
