@font-face {
  font-family: "Din pro";
  font-weight: 400;
  src: url(/src/fonts/dinpro.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 500;
  src: url(/src/fonts/dinpro_medium.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 700;
  src: url(/src/fonts/dinpro_bold.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 300;
  src: url(/src/fonts/dinpro_light.otf);
}
@font-face {
  font-family: "Nexa";
  font-weight: 300;
  src: url(/src/fonts/Nexa-Trial-Light.otf);
}
* {
  font-family: "Din pro", sans-serif;
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  height: 100%;
}
@media screen and (min-width: 1024px) {
  body {
    overflow: hidden;
  }
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: black;
}

.App {
  background-color: #f2f2f2;
  padding-bottom: 82px;
  min-height: 100vh;
}

.swiper {
  user-select: none;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  z-index: 2 !important;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: 38px;
  height: 38px;
  background-color: black;
  border-radius: 50%;
}
.swiper .swiper-button-next:after,
.swiper .swiper-button-prev:after {
  font-size: 19px;
  color: white;
  font-weight: 400;
}
.swiper .swiper-button-prev {
  left: 0;
}
.swiper .swiper-button-next {
  right: 0;
}

.swiper.composition-swiper {
  margin-left: 59px;
  margin-right: 59px;
  position: initial;
}

.not-found {
  display: flex;
  justify-content: center;
}
.not-found__name {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (max-width: 359px) {
  .swiper.composition-swiper {
    margin-left: 45px;
    margin-right: 45px;
    position: initial;
  }
}
@media screen and (min-width: 768px) {
  body {
    padding-bottom: 0;
  }
  .App {
    padding-bottom: 92px;
  }
  .tablet__container {
    display: flex;
    justify-content: center;
    padding-top: 86.5px;
  }
  .swiper.good__swiper {
    margin-right: 60px;
    margin-left: 60px;
    position: initial;
  }
  .swiper.good__swiper .swiper-slide {
    display: flex;
    justify-content: center;
  }
}
.good__item-swiper-wrapper {
  width: 100%;
  position: relative;
}

.swiper.good__item-swiper {
  margin-right: 48px;
  margin-left: 48px;
  position: initial;
}

@media screen and (min-width: 1024px) {
  .App {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    width: 61%;
    max-width: 1170px;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
  }
}
@media screen and (min-width: 1024px) {
  .content__container {
    padding-right: 5%;
    padding-left: 5%;
    width: 100%;
    padding-top: 53px;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1440px) {
  .content__container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .swiper {
    margin: 0;
  }
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
  }
  .swiper .swiper-button-next:after,
  .swiper .swiper-button-prev:after {
    font-size: 27px !important;
    color: white;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) {
  .pc__container .side-menu__container {
    width: 320px;
    flex-grow: 2;
  }
  .pc__container .side-menu__container .side-menu {
    width: 180px;
  }
  .pc__container .pc__main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0;
    width: 1170px;
  }
}

/*# sourceMappingURL=App.css.map */
