@import './variables.scss';

* {
  font-family: 'Din pro', sans-serif;
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  padding-bottom: 72px;
  background-color: #e5e5e5;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
