@import '../style/variables.scss';

.good {
  width: 100%;
  max-width: 360px;
  padding: $container_mobile_padding;
  margin: 0 auto;
  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    .good__button {
      position: relative;
      height: 22px;
      border: none;
      padding: 0;
      background-color: transparent;

      font-size: 18px;
      font-weight: 400;
      line-height: 22.32px;
      color: black;

      .button__link {
        width: inherit;
        text-decoration: none;
        color: black;
      }
    }
    .good__button:first-of-type {
      text-align: right;
      justify-self: start;
      .button__link {
        padding-left: 30px;
      }
    }
    .good__button:first-of-type::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      width: 20px;
      height: 20px;
      background: url('/public/media/good/arrow_button.svg') no-repeat;
      background-size: 20px 20px;
      pointer-events: none;
    }
    .good__button:last-of-type {
      text-align: left;
      justify-self: end;
      .button__link {
        padding-right: 30px;
      }
    }
    .good__button:last-of-type::after {
      content: '';
      position: absolute;
      top: 1px;
      right: 0;
      width: 20px;
      height: 20px;
      background: url('/public/media/good/arrow_button.svg') no-repeat;
      background-size: 20px 20px;
      transform: rotate(180deg);
      pointer-events: none;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $laptop) {
      padding-top: 53px;
      width: 100%;
      max-width: 950px;
      margin: 0 auto;
      overflow-y: scroll;
    }
  }
  &__item {
    width: 100%;
    border-radius: 15px;
    background-color: white;
    padding-bottom: 24px;
    margin-bottom: 30px;

    font-size: 24px;
    font-weight: 500;
    line-height: 29.78px;
    @media screen and (min-width: $laptop) {
      flex-direction: column;
      &-content {
        padding-bottom: 0;
      }
      &-button {
        align-self: start;
      }
    }
    &-name {
      text-align: center;
      margin-bottom: 20px;
    }
    .small-product__price {
      margin-right: 0;
    }
  }
  .goods__item {
    text-align: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 10px 0;
    margin-bottom: 30px;
    &-img {
      max-width: 100%;
      min-height: 176px;
      max-height: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    &-name {
      margin-bottom: 10px;
      text-align: left;

      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
    }
    &-header {
      margin-bottom: 15px;
    }
    &-pieces {
      font-size: 18px;
      font-weight: 300;
      line-height: 22.3px;
      text-align: left;
      color: $orange;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-price {
      font-size: 24px;
      font-weight: 700;
      line-height: 30.05px;

      margin-right: 10px;
    }
    &__button {
      width: 188px;
      height: 40px;
    }
  }
  &__addition {
    width: 100%;
    margin: 0 auto 30px;
  }
  &__addition-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 22.34px;
    text-align: center;
    margin-bottom: 30px;
  }
  &__addition-items {
    position: relative;
  }
  &__addition-item {
    &-img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
    }
  }

  &__addition-item-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__addition-item-price {
    margin-right: 10px;
  }
}

@media screen and (max-width: 359px) {
  .good {
    &__item {
      &__button {
        width: auto;
        font-size: 24px;
        padding-left: 45px;
        padding-right: 45px;
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .good {
    max-width: 798px;
    width: 100%;
    margin: 0 auto;
    padding: $container_mobile_padding;
    &__buttons {
      width: 100%;
    }
    &__main {
      width: 100%;
    }
    &__item {
      display: flex;
      flex-direction: column;

      padding: 0;
      width: 100%;
      border-radius: 0;

      &-img {
        height: 435px;
      }
      &-content {
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
      }
      &-name {
        font-weight: 500;
        line-height: 60px;
        text-align: left;
      }
      &-weight {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;

        color: $orange;

        margin-bottom: 40px;
      }
      &-price-container {
        display: flex;
        margin-bottom: 25px;
      }
      &-price {
        margin-right: 30px;
      }
      &-composition-container {
        font-style: normal;

        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }
      &-composition {
        margin-bottom: 5px;
      }
      &-description {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;

        margin-bottom: 31px;
      }
      &-button {
        width: 188px;
        padding: 5px 0;

        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;

        align-self: end;
      }
    }
    &__addition-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
      &-img {
        width: 200px;
        border-radius: 50%;
      }
      &-name {
        margin-bottom: 10px;
      }
      &-price {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
      }
    }
    &__swiper-wrapper {
      display: flex;
      width: 100%;
      justify-content: center;
      position: relative;
      //overflow-x: hidden;
      margin-bottom: 30px;
    }
  }
}
@media screen and (min-width: $laptop) {
  .good {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: start;

    width: 100%;
    max-width: unset;
    height: 100vh;
    padding: 0;
    margin: 0 auto;

    background-color: white;
    &__content {
      margin: 0;
      padding-left: 5%;
      padding-right: 5%;
      max-width: 100%;
      @media screen and (min-width: $laptopL) {
        padding-left: 111px;
        padding-right: 111px;
      }
    }
    &__main {
      display: flex;
      flex-direction: column;
      max-width: $pc__main_width;
      width: 61%;
      flex: 1 1 auto;
      background: $light_gray;
      height: 100%;
    }

    &__swiper {
      position: initial;
      width: 100%;
    }
    &__swiper-slide {
      width: 200px;
    }
  }
}
