@font-face {
  font-family: "Din pro";
  font-weight: 400;
  src: url(/src/fonts/dinpro.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 500;
  src: url(/src/fonts/dinpro_medium.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 700;
  src: url(/src/fonts/dinpro_bold.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 300;
  src: url(/src/fonts/dinpro_light.otf);
}
@font-face {
  font-family: "Nexa";
  font-weight: 300;
  src: url(/src/fonts/Nexa-Trial-Light.otf);
}
.good {
  width: 100%;
  max-width: 360px;
  padding: 67px 15px 0 15px;
  margin: 0 auto;
}
.good__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}
.good__buttons .good__button {
  position: relative;
  height: 22px;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.32px;
  color: black;
}
.good__buttons .good__button .button__link {
  width: inherit;
  text-decoration: none;
  color: black;
}
.good__buttons .good__button:first-of-type {
  text-align: right;
  justify-self: start;
}
.good__buttons .good__button:first-of-type .button__link {
  padding-left: 30px;
}
.good__buttons .good__button:first-of-type::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("/public/media/good/arrow_button.svg") no-repeat;
  background-size: 20px 20px;
  pointer-events: none;
}
.good__buttons .good__button:last-of-type {
  text-align: left;
  justify-self: end;
}
.good__buttons .good__button:last-of-type .button__link {
  padding-right: 30px;
}
.good__buttons .good__button:last-of-type::after {
  content: "";
  position: absolute;
  top: 1px;
  right: 0;
  width: 20px;
  height: 20px;
  background: url("/public/media/good/arrow_button.svg") no-repeat;
  background-size: 20px 20px;
  transform: rotate(180deg);
  pointer-events: none;
}
.good__item {
  width: 100%;
  border-radius: 15px;
  background-color: white;
  padding-bottom: 24px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.78px;
}
.good__item-name {
  text-align: center;
  margin-bottom: 20px;
}
.good__item .small-product__price {
  margin-right: 0;
}
.good .goods__item {
  text-align: center;
  flex-direction: column;
  width: 100%;
  padding: 20px 10px 0;
  margin-bottom: 30px;
}
.good .goods__item-img {
  max-width: 100%;
  min-height: 176px;
  max-height: 100%;
  margin-right: 0;
  margin-bottom: 10px;
}
.good .goods__item-name {
  margin-bottom: 10px;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.good .goods__item-header {
  margin-bottom: 15px;
}
.good .goods__item-pieces {
  font-size: 18px;
  font-weight: 300;
  line-height: 22.3px;
  text-align: left;
  color: #ff9846;
}
.good .goods__item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.good .goods__item-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 30.05px;
  margin-right: 10px;
}
.good .goods__item__button {
  width: 188px;
  height: 40px;
}
.good__addition {
  width: 100%;
  margin: 0 auto 30px;
}
.good__addition-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.34px;
  text-align: center;
  margin-bottom: 30px;
}
.good__addition-items {
  position: relative;
}
.good__addition-item-img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.good__addition-item-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.good__addition-item-price {
  margin-right: 10px;
}

@media screen and (max-width: 359px) {
  .good .goods__item__button {
    width: auto;
    font-size: 24px;
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media screen and (min-width: 768px) {
  .good {
    width: 950px;
    margin: 0 auto;
    padding-top: 86.5px;
  }
  .good__buttons {
    width: 100%;
  }
  .good__main {
    width: 950px;
  }
  .good__main .header {
    margin-bottom: 53px;
  }
  .good__item {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    border-radius: 0;
  }
  .good__item-img {
    height: 435px;
  }
  .good__item-content {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
  }
  .good__item-name {
    font-weight: 500;
    line-height: 60px;
  }
  .good__item-weight {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #ff9846;
    margin-bottom: 40px;
  }
  .good__item-pieces-container {
    display: flex;
    margin-bottom: 25px;
  }
  .good__item-pieces {
    margin-right: 30px;
  }
  .good__item-composition-container {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .good__item-composition {
    margin-bottom: 5px;
  }
  .good__item-description {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 31px;
  }
  .good__item-button {
    width: 188px;
    padding: 5px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    align-self: end;
  }
  .good__addition-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .good__addition-item-img {
    width: 200px;
    border-radius: 50%;
  }
  .good__addition-item-name {
    margin-bottom: 10px;
  }
  .good__addition-item-price {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  .good__swiper-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .good {
    width: unset;
    padding: 0;
  }
  .good__main {
    width: 1170px;
    background: #f2f2f2;
  }
  .good__item {
    flex-direction: row;
    height: 435px;
  }
  .good__item-content {
    padding-bottom: 0;
  }
  .good__item-button {
    align-self: start;
  }
  .good__buttons {
    width: auto;
    margin: 0 40px 53px 40px;
  }
  .good__swiper {
    position: initial;
    width: 860px;
  }
  .good__swiper-slide {
    width: 200px;
  }
  .good .main__footer {
    width: 950px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=Good.css.map */
