@import '../style/variables.scss';

@media screen and (min-width: 1919px) {
  body {
    padding-bottom: 0;
  }
  .home {
    display: flex;
    .side-menu__container {
      width: 320px;
      .side-menu {
        width: 180px;
      }
    }
  }
  .main {
    flex-grow: 2;
  }
  .cart__container {
    width: 430px;
    background-color: white;
    .cart,
    .cart-empty {
      width: 290px;
      margin-top: 55px;
      margin-left: 40px;
      padding: 0;
      &__annotation {
        padding: 0;
        background-color: #f2f2f2;
      }
      &__item {
        background-color: #f2f2f2;
        padding: 0;
      }
    }
  }
}
