@font-face {
  font-family: "Din pro";
  font-weight: 400;
  src: url(/src/fonts/dinpro.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 500;
  src: url(/src/fonts/dinpro_medium.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 700;
  src: url(/src/fonts/dinpro_bold.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 300;
  src: url(/src/fonts/dinpro_light.otf);
}
@font-face {
  font-family: "Nexa";
  font-weight: 300;
  src: url(/src/fonts/Nexa-Trial-Light.otf);
}
.order {
  padding-top: 67px;
  padding-left: 15px;
  padding-right: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.order .form__title {
  text-align: center;
  margin-bottom: 10px;
}
.order__form_border-radius {
  border-radius: 5px;
}
.order__form_width {
  width: 100%;
}
.order__input {
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  padding-left: 8px;
  border: none;
}
.order__input:focus {
  outline-color: #ff9846;
}
.order .form__toggle .form__toggle__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order .form__toggle .form__toggle__item:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.order .form__toggle .form__toggle__item:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.order .form__toggle .form__toggle__item_active {
  background: #ff9846;
  color: white;
}
.order .form__change {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order .form__change__checkbox-area {
  display: flex;
  flex-grow: 1;
}
.order .form__change__checkbox-area input {
  appearance: none;
  position: relative;
}
.order .form__change__checkbox-area input::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ff9846;
  background: white;
}
.order .form__change__checkbox-area input:checked::after {
  background: url("/public/media/UI/check-mark.svg") no-repeat center #ff9846;
}
.order .form__change__checkbox-area label {
  margin-left: 33px;
}
.order .form__change .form__change_input {
  margin-left: 10px;
  width: 36%;
}
.order .form__additives-list {
  display: grid;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.order .form__additives-list__item {
  display: flex;
  justify-content: space-between;
}
.order .form__promo-code {
  margin-bottom: 20px;
}
.order .form__button {
  width: 100%;
  padding: 13px 0;
}
.order .order__svg_active {
  fill: white;
}
.order .form__type-of-shipping,
.order .form__type-of-payment,
.order .form__shipping-time {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background: white;
}

.order__form__item {
  height: 40px;
}
.order__form__item p {
  margin-left: 10px;
}

.order .order__input:invalid {
  color: red;
  outline-color: red;
}

.order__input::placeholder {
  color: #a4acad;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.order__form {
  display: grid;
  gap: 10px;
}
.order__form .form_email-comment,
.order__form .form__address-info,
.order__form .form__shipping-time,
.order__form .form__user-data,
.order__form .form__address_house_item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}

.order__total-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ff9846;
  border-bottom: 1px solid #a4acad;
  margin-bottom: 30px;
}

.order__total-price__item {
  display: flex;
  justify-content: center;
  flex-grow: 2;
  width: 50%;
  padding: 10px 0;
}

@media screen and (min-width: 1919px) {
  .order {
    padding: 0;
    height: 100%;
    min-height: 100vh;
  }
  .order .order__header {
    position: relative;
    display: flex;
    height: 94.5px;
    background-color: #f2f2f2;
    border-bottom: 0.5px solid #a4acad;
    z-index: 3;
    margin-bottom: 55px;
  }
  .order .order__header .order__header__button_back {
    position: relative;
    padding-left: 30px;
    margin-top: 38px;
    margin-left: 100px;
  }
  .order .order__header .order__header__button_back::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: url("/public/media/good/arrow_button.svg") no-repeat;
    background-size: 20px 20px;
    pointer-events: none;
  }
  .order .order__header .order__header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 363px;
    font-style: normal;
    font-weight: 500;
  }
  .order .order__header .order__header__content .header__item_phone__name {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
  }
  .order .order__header .order__header__content .header__item_phone_number {
    font-size: 18px;
    line-height: 100%;
  }
  .order .order__header .order__header__content .header__item__schedule {
    display: flex;
    font-size: 14px;
    line-height: 17px;
  }
  .order .order__header .order__header__content .header__item__schedule__img {
    margin-right: 5px;
  }
  .order .pc__main {
    width: 1490px;
    padding-bottom: 30px;
  }
  .order .pc__main .form__title {
    width: 760px;
    align-self: center;
    margin-bottom: 30px;
    text-align: left;
  }
  .order .pc__main .order__form__container {
    display: grid;
    grid-template-columns: 360px 354px;
    justify-content: space-between;
    align-items: start;
    width: 760px;
    margin: 0 auto;
  }
  .order .pc__main .order__form__container__item {
    display: grid;
    gap: 20px;
  }
  .order .pc__main .order__form__container__item .form__user-data {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    height: 40px;
  }
  .order .pc__main .order__form__container__item .form__address-info {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
  }
  .order .pc__main .order__form__container__item .form__address-info .form__address_street {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .order .pc__main .order__form__container__item .form__address_house_item {
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(2, auto);
  }
  .order .pc__main .order__form__container__item .form__address_house_item:first-of-type {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-right: 14px;
  }
  .order .pc__main .order__form__container__item .form__address_house_item:last-of-type {
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .order .pc__main .order__form__container__item .form__type-of-payment__container {
    gap: 20px;
  }
  .order .pc__main .order__form__container .order__form__container__button {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 11px 0;
  }
  .order .pc__main .order__form__container .order__form__container__item:last-child {
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 12px;
  }
  .order .pc__main .order__form__container .order__form__container__item:last-child .order__form__container__item__offer {
    display: inline;
    border-bottom: 0.5px solid black;
  }
  .order .pc__main .order__form__container .order__form__container__item:last-child .order__form__container__item__offer:hover {
    display: inline;
    color: #ff9846;
    border-bottom: 0.5px solid #ff9846;
  }
}

/*# sourceMappingURL=Order.css.map */
