@import '../style/variables.scss';

.order {
  width: 100%;
  max-width: 360px;

  padding: $container_mobile_padding;
  margin: 0 auto;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  .form__title {
    text-align: center;
    margin-bottom: 10px;
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    &__item {
      border-radius: 5px;
      width: 100%;
      height: 40px;
    }
    &__input {
      font-style: inherit;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      padding-left: 8px;
      border: none;
    }
    &__input:focus {
      outline-color: #ff9846;
    }
    &__input:invalid {
      color: red;
      outline-color: red;
    }
    &__input::placeholder {
      color: #a4acad;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
    &__toggle {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      width: 100%;
      height: 40px;
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 11px;
        cursor: pointer;
        background-color: white;
      }
      &-item:first-child {
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
      }
      &-item:last-child {
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
      }
      &-item_active {
        background-color: $orange;
        color: white;
        fill: white;
      }
    }

    &__user-data {
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 10px;
    }
    &__type-of-shipping,
    &__type-of-payment,
    &__email-comment {
      display: grid;
      width: 100%;
      gap: 10px;
    }
    &__address-info {
      display: grid;
      gap: 10px;
      .address-info__item {
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 10px;
      }
    }
    &__change {
      display: flex;
      &-sum {
        width: 122px;
      }
    }

    &__checkbox {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 11px;

      appearance: none;
    }
    &__checkbox::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      border-radius: 50%;
      border: 1px solid $orange;
      background: white;
    }
    &__checkbox:checked::after {
      background: url('/public/media/UI/check-mark.svg') no-repeat center $orange;
    }

    &__checkbox-area {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &__cash,
    &__card {
      display: flex;
    }
    &__additives-list {
      display: grid;
      gap: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .additives-list__item {
    display: flex;
    justify-content: space-between;
  }

  .form__promo-code {
    margin-bottom: 20px;
  }

  .form__button {
    width: 100%;
    padding: 13px 0;
  }
}

.order__total-price {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ff9846;

  border-bottom: 1px solid #a4acad;
  margin-bottom: 30px;
  .total-price__item {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}

@media screen and (min-width: 1920px) {
  .order {
    padding: 0;
    height: 100%;
    min-height: 100vh;
    &__header {
      position: relative;
      display: flex;
      height: 94.5px;
      background-color: $light_gray;
      border-bottom: 0.5px solid $gray;
      z-index: 3;
      margin-bottom: 55px;
      &-button_back {
        position: relative;
        padding-left: 30px;
        margin-top: 38px;
        margin-left: 100px;
      }
      &-button_back::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: url('/public/media/good/arrow_button.svg') no-repeat;
        background-size: 20px 20px;
        pointer-events: none;
      }
      &-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 363px;

        font-style: normal;
        font-weight: 500;
      }
    }

    .pc__main {
      width: 1490px;
      padding-bottom: 30px;
      .form__title {
        width: 760px;
        align-self: center;
        margin-bottom: 30px;
        text-align: left;
      }
      .order__form__container {
        display: grid;
        grid-template-columns: 360px 354px;
        justify-content: space-between;
        align-items: start;
        width: 760px;
        margin: 0 auto;
        &__item {
          display: grid;
          gap: 20px;
          .form__user-data {
            display: grid;
            grid-template-columns: repeat(2, auto);
            column-gap: 20px;
            height: 40px;
          }
          .form__address-info {
            display: grid;
            grid-template-columns: repeat(4, auto);
            gap: 20px;
            .form__address_street {
              grid-column-start: 1;
              grid-column-end: 4;
            }
          }
          .form__address_house_item {
            display: grid;
            gap: 14px;
            grid-template-columns: repeat(2, auto);
          }
          .form__address_house_item:first-of-type {
            grid-column-start: 1;
            grid-column-end: 3;
            margin-right: 14px;
          }
          .form__address_house_item:last-of-type {
            grid-column-start: 3;
            grid-column-end: 5;
          }
          .form__type-of-payment__container {
            gap: 20px;
          }
        }
        .order__form__container__button {
          grid-column-start: 1;
          grid-column-end: 3;
          padding: 11px 0;
        }
        .order__form__container__item:last-child {
          display: block;
          grid-column-start: 1;
          grid-column-end: 3;

          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          margin-top: 12px;
          .order__form__container__item__offer {
            display: inline;
            border-bottom: 0.5px solid black;
          }
          .order__form__container__item__offer:hover {
            display: inline;
            color: $orange;
            border-bottom: 0.5px solid $orange;
          }
        }
      }
    }
  }
}
