@import '../style/variables.scss';

.reviews {
  padding-top: calc($mobile_header_height + 10.5px);
  padding-left: 15px;
  padding-right: 15px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  &__title {
    text-align: center;
    margin-bottom: 10px;
  }
  &__list {
    display: grid;
    row-gap: 10px;
    margin-bottom: 20px;
    &__item {
      background: white;
      border-radius: 5px;
      padding: 10px;
      &__title {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
        .reviews__list__item__name {
          margin-right: 20px;
        }
        .reviews__list__item__date {
          font-weight: 500;
          color: $gray;
        }
      }
    }
  }
  &__button {
    width: 100%;
    background: #111111;
    padding: 7px 0;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .reviews {
    .about__contacts {
      align-items: center;
      .contacts__name {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: $laptop) {
  .reviews {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    background-color: white;
    min-height: 100vh;
    width: 100%;
    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 28px;
    }
    &__main {
      max-width: 1170px;
      width: 61%;
      flex: 1 1 auto;
      display: flex;
      background-color: $light_gray;
      flex-direction: column;
      align-items: center;
    }
    &__content {
      max-width: 950px;
      margin: 0 auto;
      height: 100%;
      padding-top: 60px;
      overflow-y: scroll;
      @media screen and (min-width: $laptop) {
        padding-left: 5%;
        padding-right: 5%;
        min-width: 100%;
      }
      @media screen and (min-width: $laptopL) {
        padding-left: 111px;
        padding-right: 111px;
      }
    }
    &__button {
      width: 180px;

      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
    }
  }
}
