@font-face {
  font-family: 'Din pro';
  font-weight: 400;
  src: url(/src/fonts/dinpro.otf);
}

@font-face {
  font-family: 'Din pro';
  font-weight: 500;
  src: url(/src/fonts/dinpro_medium.otf);
}

@font-face {
  font-family: 'Din pro';
  font-weight: 700;
  src: url(/src/fonts/dinpro_bold.otf);
}

@font-face {
  font-family: 'Din pro';
  font-weight: 300;
  src: url(/src/fonts/dinpro_light.otf);
}

@font-face {
	font-family: 'Nexa';
	font-weight: 300;
	src: url(/src/fonts/Nexa-Trial-Light.otf);
}

$mobile_width: 91.6%;
$mobile_header_height: 56.5px;
$mobile_footer_height: 72px;

$orange: #ff9846;
$red: #eb5757;
$gray: #a4acad;
$dark_orange: #f46d40;
