@import '../../style/variables.scss';

.cart__item {
  width: 100%;

  display: flex;

  background-color: white;

  margin-bottom: 10px;
  padding: 13px 33px 13px 0;
  border-radius: 5px;

  &-img {
    width: 90px;
    height: 100%;

    margin-right: 14px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }
  &-name {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    margin-bottom: 14px;
  }
  &-description {
    display: flex;
    justify-content: space-between;
  }

  &-price {
    width: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
  }
}

@media screen and (max-width: 359px) {
  .cart__item {
    padding-right: 13px;
  }
}

@media screen and (min-width: 1920px) {
  .cart__item {
    padding-right: 5px;
    &-img {
      width: 70px;
      height: 47px;
    }
    &-content {
    }
    &-name {
      margin-bottom: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 201px;
    }
  }
}
