@import '../../style/variables.scss';

.empty-cart {
  padding: calc(56.5px + 20.5px) 15px 0 15px;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  &__content {
    padding: 0 20px;
  }

  &__annotation {
    padding-top: 12px;
    border-radius: 5px;

    .annotation__name {
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
      text-align: center;

      margin-bottom: 10px;
    }

    .annotation__item {
      font-style: normal;
      font-weight: 400;
      text-align: center;
    }

    .annotation__item:first-of-type {
      font-size: 18px;
      line-height: 22px;
      color: $gray;

      margin-bottom: 26px;
    }

    .annotation__item:last-of-type {
      font-size: 14px;
      line-height: 17px;
      color: $light_gray;

      background-color: $orange;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;

      padding: 12px 32px 11px;
    }
  }

  &__location {
    margin: 20px 0 0;

    .location__map {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 38px;
    }
    .location__img {
      width: inherit;
      object-fit: cover;
    }

    .location__pin {
      content: '';
      width: 60px;
      height: 60px;

      position: absolute;
      bottom: -30px;
      left: calc(50% - 30px);

      background: url('/public/media/cart/cart_location_pin.png') no-repeat center orange;
      border-radius: 50%;
      cursor: pointer;
    }
    .location__description {
      text-align: center;
    }
    .location__name {
      margin-bottom: 10px;
    }

    .location__info {
      color: $gray;
      margin-bottom: 27px;
    }
  }

  &__check-shipping {
    border-radius: 5px;
    .check-shipping__name {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      text-align: center;

      color: $gray;
    }
    .check-shipping__input {
      width: 100%;
      padding: 5px 10px;

      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;

      border: none;
    }
    .check-shipping__input:focus {
      background-color: $light_gray;
      outline-color: $orange;
    }
    .check-shipping__clock {
      margin-right: 9px;
    }

    .check-shipping__item:first-of-type {
      background-color: white;
      border-radius: 5px 5px 0 0;
    }
    .check-shipping__item:nth-of-type(2) {
      display: flex;
      justify-content: center;
      background-color: $orange;

      padding: 3px 0;
      border-radius: 0 0 5px 5px;

      color: white;
    }
  }
  &__shipping-API {
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  &__shipping-API::after {
    content: url('/public/media/UI/pin.svg');
    position: absolute;
    width: 64px;
    height: 94px;
    top: 69px;
    left: 116px;
  }
  .shipping-API__img {
    width: inherit;
    height: inherit;
  }

  &__button {
    width: 100%;
    padding: 13px;
  }
}

@media screen and (min-width: 1920px) {
  .empty-cart__shipping {
    padding: 0;
  }
}
