@font-face {
  font-family: "Din pro";
  font-weight: 400;
  src: url(/src/fonts/dinpro.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 500;
  src: url(/src/fonts/dinpro_medium.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 700;
  src: url(/src/fonts/dinpro_bold.otf);
}
@font-face {
  font-family: "Din pro";
  font-weight: 300;
  src: url(/src/fonts/dinpro_light.otf);
}
@font-face {
  font-family: "Nexa";
  font-weight: 300;
  src: url(/src/fonts/Nexa-Trial-Light.otf);
}
.empty-cart {
  padding: 67px 15px 0 15px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .empty-cart {
    max-width: 430px;
    min-width: 290px;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 5%;
    padding-left: 50px;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 1440px) {
  .empty-cart {
    overflow-y: hidden;
    flex: 1 1 auto;
  }
}
.empty-cart__content {
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .empty-cart__content {
    padding: 0;
  }
}
.empty-cart__annotation {
  padding-top: 12px;
  border-radius: 5px;
}
.empty-cart__annotation .annotation__name {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-bottom: 10px;
}
.empty-cart__annotation .annotation__item {
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
.empty-cart__annotation .annotation__item:first-of-type {
  font-size: 18px;
  line-height: 22px;
  color: #a4acad;
  margin-bottom: 26px;
}
.empty-cart__annotation .annotation__item:last-of-type {
  font-size: 14px;
  line-height: 17px;
  color: #f2f2f2;
  background-color: #ff9846;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 12px 32px 11px;
}
.empty-cart__location {
  margin: 20px 0 0;
}
.empty-cart__location .location__map {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
}
.empty-cart__location .location__img {
  width: inherit;
  object-fit: cover;
}
.empty-cart__location .location__pin {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 30px);
  background: url("/public/media/cart/cart_location_pin.png") no-repeat center orange;
  border-radius: 50%;
  cursor: pointer;
}
.empty-cart__location .location__description {
  text-align: center;
}
.empty-cart__location .location__name {
  margin-bottom: 10px;
}
.empty-cart__location .location__info {
  color: #a4acad;
  margin-bottom: 27px;
}
.empty-cart__check-shipping {
  border-radius: 5px;
}
.empty-cart__check-shipping .check-shipping__name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #a4acad;
}
.empty-cart__check-shipping .check-shipping__input {
  width: 100%;
  padding: 5px 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
}
.empty-cart__check-shipping .check-shipping__input:focus {
  background-color: #f2f2f2;
  outline-color: #ff9846;
}
.empty-cart__check-shipping .check-shipping__clock {
  margin-right: 9px;
}
.empty-cart__check-shipping .check-shipping__item:first-of-type {
  background-color: white;
  border-radius: 5px 5px 0 0;
}
.empty-cart__check-shipping .check-shipping__item:nth-of-type(2) {
  display: flex;
  justify-content: center;
  background-color: #ff9846;
  padding: 3px 0;
  border-radius: 0 0 5px 5px;
  color: white;
}
.empty-cart__shipping-API {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
.empty-cart__shipping-API::after {
  content: url("/public/media/UI/pin.svg");
  position: absolute;
  width: 64px;
  height: 94px;
  top: 69px;
  left: 116px;
}
.empty-cart .shipping-API__img {
  width: inherit;
  height: inherit;
}
.empty-cart__button {
  width: 100%;
  padding: 13px;
}

@media screen and (min-width: 1024px) {
  .empty-cart {
    background-color: white;
  }
  .empty-cart__shipping {
    padding: 0;
  }
}

/*# sourceMappingURL=emptyCart.css.map */
