@import '../../style/variables.scss';

.search-modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  //bottom: 0;
  //left: 0;
  width: 100%;
  z-index: 2;
  @media screen and (min-width: $laptop) {
    width: 500px;
  }
  &__input {
    min-height: 40px;
    width: 100%;
    font-size: 24px;
    padding-left: 15px;
    @media screen and (min-width: 1024px) {
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    height: 50vh;
    width: 100%;

    @media screen and (min-width: 1024px) {
    }
  }
  &__result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    background-color: white;
    overflow-y: scroll;
  }
  &__not-found {
    font-size: 32px;
    color: $orange;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
  }

  &__name {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: start;
    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }
}
.search-modal_active {
  display: flex;
  align-items: start;
  height: 100%;
}

@media screen and (min-width: 1920px) {
  .search-modal {
    &__content {
    }
    &__search:focus {
      outline-color: $orange;
    }
  }
  .search-modal__active {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 0;
  }
}
